<div id="comment- <%= comment.id %>">
<hr />
[<%= comment.created_at.strftime("%D,%l:%M %P") %>]
<%= comment.user.username %> : 
<% if current_user && current_user==comment.user %>
    <%= comment.body %> <br />
    <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, remote: true, style: 'float-right' %>
    <hr/>
<% end %>

</div>