<div id="comment-<%= comment.id %>">
<br />
[<%= comment.created_at.strftime("%D,%l:%M %P") %>]
<h4><%= comment.user.username %> : </h4>
    <p id="comment-<%= comment.id %>-body" >
        <%= comment.body %> 
    </p>
    
  
    

<% if current_user && current_user==comment.user %>
    <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, remote: true, style: 'float-right' %>
    <%= link_to "Edit", edit_post_comment_path(@post, comment,edit: 1)  %>
<% end %>

<% if current_user %>
    <%= link_to like_post_comment_path(@post, comment), method: :put do %>
    Upvote
    <%= comment.get_upvotes.size %>
    <% end %>

    <%= link_to dislike_post_comment_path(@post, comment), method: :put do %>
    Downvote
    <%= comment.get_downvotes.size %>
    <% end %>
<% end %>






</div>