<h1> Edit your comment here </h1>
<h3> Post title: <%= @post.title %> </h3>
<h3> Post Body:</h3>  <h4> <%= @post.body %> </h4>
            
            

<%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_field :body %>
    <br />
    <br />
    <%= f.button :Save  %>
    <%= f.button :cancel %>
     
<% end %>