<% cache(cache_key_for_post_page) do %>

<h1><%= "General Forum" %></h1>
<%= link_to "Create A New Post", posts_new_path %>
<hr/>
<% @posts.each_with_index do |post,indx|%>
    <% cache(cache_key_for_post_row(post)) do %>
    
    <p>
     <h5>[<%= indx+1 %>]</h5>  Title :  <%= post.title %>
    </p>
    <p>
      Text: <%= post.body %>
    </p>

    <td> 
    <%= pluralize(post.comments.count, "comment") %> 
    </td>
    <p></p>
    <td>
       <%= pluralize(post.get_upvotes.size, "Likes") %>
    </td>
    <p></p>
    <div>
      <%= timestampParser(post.created_at) %>
    </div>
    <p>User's college: <%= User.find(post.user_id).university %></p>
    <%= link_to "Details", post %>
    <hr/>
    
    <% end %>
    
 
<% end %> 
<% end %> 

