<% if params[:edit] == "1" && !(current_user && current_user.id==@post.user_id)%>
    <div id='wrong_access'><h1> Unauthorized Access Is Not Permitted, Please Log in to Edit! </h1></div>
<% else %>

<%= simple_form_for(@post)  do |f| %>
    <div id="title_edit"><%= f.input :title %></div>
    <%= f.input :body %>
    <% if params[:edit] != "1" %>
        <%= f.label :public, class: "checkbox inline" do %>
            <%= f.check_box :public %>
            <span>Make your post visible to general public?</span>
            <div>(Otherwise only visible in University channel)</div>
          <% end %>
    <% end %>

   <%= button_tag "Submit", :type => 'submit',:style =>'color:white;background-color:darkgreen;border-radius:10px' %>
    <% if params[:edit] == "1" %>
        <%= button_tag "Undo Changes", :type => 'reset',:style =>'color:white;background-color:rgb(53, 53, 219);border-radius:10px' %>
    <% end %> 
<% end %>

 <% end %>