<h1><%= current_user.university %></h1>
<%= link_to "Create A New Post", posts_new_path %>

<% @posts.each do |post|%>
    <p>
     <%= post.title %>
    </p>
    <p>
     <%= post.body %>
    </p>
    <%= link_to "Details", post %>

    
 
<% end %> 