<h1>Awsome things are coming !!! wait !!</h1>
<%= link_to "Create A New Post", posts_new_path %>

<% @posts.each do |post|%>
    <p>
     <%= post.id  %> 
     <%= post.title %>
    </p>
    <p>
     <%= post.body %>
    </p>
    <%= link_to "Details", post %>

    
 
<% end %> 