<div id="posts_entire" class="row">
<h1><%= current_user.university %></h1>
<%= link_to "Create A New Post", posts_new_path %>
<hr/>
<% @posts.each do |post|%>
    <p>
     <h4><%= post.title %></h4>
    </p>
    <p>
     <%= post.body %>
    </p>
    
    <td> 
    <%= pluralize(post.comments.count, "comment") %> 
    </td>
    <p></p>
    <td>
       <%= pluralize(post.get_upvotes.size, "Likes") %>
    </td>
    
    <div>
      <%= timestampParser(post.created_at) %>
    </div>
    <p>User's college: <%= User.find(post.user_id).university %></p>
    
    <p>
    <%= link_to "Details", post %>
    </p>
    <hr/>
<% end %> 
</div>