<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id=go_back>
  <% if @post.public %>
    <%= link_to "Go Back", generalposts_path, class:'go_back' %>
  <% else %>
    <%= link_to "Go Back", posts_path,class:'go_back' %>
  <% end %>
</div>

<div id=whole_page>

<div id=post>
<h3 id=post_id> Title: <%= @post.title %></h3>
<p id=post_body> <%= @post.body %> </p>


<% if current_user && current_user.id==@post.user_id %>
<table>
  <tr>
    <th>
     
        <div id=link_edit> <%= link_to "Edit", edit_post_path(@post, edit: 1), class:'edit_link'%></div>
    </th>
    <th>
        <div id=link_delete> <%= link_to "Delete", delete_post_path(@post), method: :delete, data: {confirm: "Are you sure to delete this post ?"},class:'delete_link' %> </div>
    </th>
  </tr>
</table>
  <br />
  <% end %>
  <% if current_user %>
  <table id=like_dislike>
   <tr>
  <th>
  <%= link_to like_post_path(@post), method: :put do %>
    <div id=like_count> <i class="fa fa-thumbs-up" style="font-size:36px;color:white;margin:10px"></i></div>
  </th>
  <th>
      <div class=count> <%= @post.get_upvotes.size %> </div>
  </th>
  <% end %>
  <th>
  <%= link_to dislike_post_path(@post), method: :put do %>
    <div id=dislike_count>  <i class="fa fa-thumbs-down" style="font-size:36px;color:white;margin:10px"></i></div>
  </th>
  <th>
    <div class=count> <%= @post.get_downvotes.size %> </div>
  </th>
  </tr>
  <% end %>
  </table>

  <% end %>
  </div>
<p> </p>



<p> </p>
<div id='comment_box'>
    <h3 style="margin-left:10px;color:white"> Comments </h3>
    <div id="comments_panel">
    <% @comments.reverse_each do |i| %>
        <%= render 'comments/comment', comment: i %>
    <% end %>
    </div>

    <% if current_user %>
      <div id='comment_form'>
        <%= form_with model: [@post, @comment] do |f| %>
            <%= f.text_field :body %>
            <%= f.submit "Leave a Comment", :class => 'submit_class_name' %>
        <% end %>
        </div>
    <% else %>
    <p id=sign_in_error>
         <h3 style="color:white"> Please signin or signup in order to make a comment!</h3>
    <p>
    <% end %>
</div>

</div>